@font-face {
    font-family: 'prime';
    src: url('/public/font/Prime-Regular.ttf');
}

html {
    --main-bg-color-dark: #202734;
    --main-font-color-dark: #EBEBEB;
    --active-font-color-1: #7C96EA;

    background-color: var(--main-bg-color-dark);
    color: var(--main-font-color-dark);
    font-family: 'prime';
}

#header {
    margin: 0px;
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

#header-tabs {
    display: flex;
    justify-content: space-evenly;
}

#name {
    margin: 0px;
}

.tab {
    padding: 10px;
}

.tab:hover {
    color: var(--active-font-color-1);
}