@font-face {
    font-family: 'prime';
    src: url('/public/font/Prime-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html {
    --main-bg-color-dark: #202734;
    --main-font-color-dark: #EBEBEB;

    --main-bg-color-light: #EBEBEB;
    --main-font-color-light: #202734;

    font-family: 'prime';
}

.app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.light {
    background-color: var(--main-bg-color-light);
    color: var(--main-font-color-light);
    transition: 1.25s;
}

.dark {
    background-color: var(--main-bg-color-dark);
    color: var(--main-font-color-dark);
    transition: 1.25s;
}

#theme_switch {
    width: 10%;
}

#header {
    margin: 0px;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    max-height: 15vh;
}

#header-tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#name .name {
    margin: 0px;
}

.tab {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 15px;
}

.tab:hover {
    scale: 1.25;
    transition: .5s;
    cursor: pointer;
}

#socials {
    margin: 0px;
    padding: 3%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.social_icon {
    max-width: 48px;
}

@media screen and (max-width: 320px) {
    #header-tabs {
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    #header-tabs {
        flex-direction: column;
    }
    
}

@media screen and (max-width: 425px) {
    #header-tabs {
        flex-direction: column;
    }
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 1440px) {
    
}